* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.carousel-container {
  width: 100%;
  height: 300px;
}
.carousel-menu {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}
.carousel-items,
.carsel-itmes--hidden {
  display: none;
}
.carsel-itmes--visible {
  display: block;
}
.carousel-items .item1 {
  width: 100%;
  height: 300px;
  background: red;
}
.carousel-items .item2 {
  width: 100%;
  height: 300px;
  background: blueviolet;
}
.carousel-items .item3 {
  width: 100%;
  height: 300px;
  background: green;
}
